<label class="custom-selector">
    <select
      class="theme-background theme-color"
      (change)="onChange($event.target)"
      placeholder="hola"
    >
      <option value="" disabled selected hidden>Filter by Region</option>
      <option value="Africa">Africa</option>
      <option value="America">America</option>
      <option value="Asia">Asia</option>
      <option value="Europe">Europe</option>
      <option value="Oceania">Oceania</option>
    </select>
    <span class="arrow theme-color"></span>
  </label>