<div class="country-page_container">
  <button class="theme-background theme-color" (click)="goBack()">
    <app-svg-icon class="arrow-icon theme-color-as-background" [path]="'assets/arrow_left-icon.svg'"></app-svg-icon>

    Back
  </button>
  <div class="country-page_container-content">

      <img [src]="country.flag_img" [alt]="country.flag_alt" />
    <div class="country-page_data">
      <h1 class="theme-color">{{ country.name }}</h1>
      <div class="data-columns">
        <p class="theme-color">
          <strong>Native Name: </strong>{{ country.native_name }}
        </p>
        <p class="theme-color">
          <strong>Top level Domain: </strong>{{ country.top_level_domain }}
        </p>
        <p class="theme-color">
          <strong>Popoulation: </strong>{{ country.population }}
        </p>
        <p class="theme-color">
          <strong>Currencies: </strong>{{ country.currencies }}
        </p>
        <p class="theme-color"><strong>Region: </strong>{{ country.region }}</p>
        <p class="theme-color">
          <strong>Languages: </strong>
          <span
            class="theme-color"
            *ngFor="let language of country.languages"
            >{{ language===country.languages[0] ? language: ', ' + language }}</span
          >
        </p>
        <p class="theme-color">
          <strong>Sub Region: </strong>{{ country.sub_region }}
        </p>
        <p class="theme-color">
          <strong>Capital: </strong>{{ country.capital }}
        </p>
      </div>
      <p class="border-countries theme-color">
        <strong>Border Countries: </strong>
        <span
          class="theme-background theme-color"
          *ngFor="let countryName of country.border_countries"
          (click)="goToBorderCountry(countryName)"
          >{{ countryService.getContryName(countryName) }}</span
        >
        <!-- <span>France</span>
        <span>Germany</span>
        <span>Netherlands</span> -->
      </p>
    </div>
  </div>
</div>
