<div class="card__container">
    <img class="card__img" [src]="country ? country.flag_img : ''" alt="" />
  <section class="card__content theme-background">
    <h3 class="card__title theme-color">{{country ? country.name : 'unknown'}}</h3>
    <p class="theme-color"><strong>Population: </strong>{{country ? country.population.toLocaleString() : 0}}</p>
    <p class="theme-color"><strong>Region: </strong>{{country ? country.region : 'unknown'}}</p>
    <p class="theme-color"><strong>Capital: </strong>{{country ? country.capital : 'unknown'}}</p>
  </section>
</div>
