<div class="filter-section">
  <div class="input-container">
    <input
      class="theme-background theme-color"
      type="text"
      placeholder="Search for a country..."
      [(ngModel)]="inputValue"
      (input)="onChange()"
    />
    <span class="search-icon"></span>
  </div>
  <select
    class="theme-background theme-color"
    [(ngModel)]="selectValue"
    (change)="onChange()"
    placeholder="hola"
  >
    <option value="" disabled selected hidden>Filter by Region</option>
    <option value="Africa">Africa</option>
    <option value="America">America</option>
    <option value="Asia">Asia</option>
    <option value="Europe">Europe</option>
    <option value="Oceania">Oceania</option>
  </select>
</div>
<app-country-list [countries]="fiteredCountries"></app-country-list>
