<div class="filter-section">
  <div class="input-container">
    <input
      class="theme-background theme-color"
      type="text"
      placeholder="Search for a country..."
      [(ngModel)]="inputValue"
      (input)="onChange()"
    />
    <app-svg-icon class="search-icon theme-color-as-background" [path]="'assets/search-icon.svg'"></app-svg-icon>
    <!-- <span [innerHTML]="svgIcon" class="search-icon theme-color"></span> -->
  </div>
  <app-region-selector (onChangeSelect)="onChange($event)"></app-region-selector>
</div>
<app-country-list [countries]="fiteredCountries"></app-country-list>
