:host {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-home);
}

.filter-section {
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
}
.list-container {
  padding: 0 100px;
}

.input-container {
  width: 100%;
  position: relative;
}

.search-icon {
  left: 20px;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-mask-repeat: no-repeat;
}

input {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 15px 20px 15px 60px;
  width: 30%;
  outline: none;
  font-size: 14px;
}

input:focus,
input:hover {
  border: 1px solid gray;
}

@media (width<= 375px) {
  :host {
    align-items: center;
    padding: 30px 20px;
  }
  .filter-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 40px 0;
    width: 100%;
    gap: 40px;
  }
  

  input {
    width: -webkit-fill-available;
  }
}
