header{
    margin: 0;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
}
body{
    min-height: 100vh;
}
h2{
    margin: 0;
}